@main("Welcome to Balnagowan Central") {
    <div class="container">
        @tile("http://192.168.0.1", "images/upc.jpg", "Configure UPC Router")
        @tile("http://192.168.1.1", "images/upc.jpg", "Configure ASUS Router")
        @tile("vpn", "images/vypervpn.png", "Manage VPN Connection")
        @tile("http://192.168.1.48:32400/web/index.html", "images/plex.jpg", "Plex Media Server")
        @tile("http://192.168.1.48:8081", "images/sickrage.png", "Automatic Video Library Manager for TV Shows")
        @tile("http://192.168.1.48:9091", "images/transmission.jpg", "BitTorrent Client")
    </div>
}
