@(apiKey: String)

<div id="map"></div>

<script>
        function httpGetAsync(url, callback) {
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
              callback(xmlHttp.responseText);
          };
          xmlHttp.open("GET", url, true);
          xmlHttp.send(null);
        }

        function initMap() {
          var mapDiv = document.getElementById('map');
          var map = new google.maps.Map(mapDiv, {
            zoom: 5
          });

          var infoWindow = new google.maps.InfoWindow({map: map});

          httpGetAsync("http://192.168.1.48:9000/vpn/location", function (json) {
            var obj = JSON.parse(json);

            var pos = {
              lat: obj.lat,
              lng: obj.lon
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Your IP address location.');
            map.setCenter(pos);
            var marker = new google.maps.Marker({
              position: pos,
              map: map,
              title: 'Your IP address location.'
            });

          });
        }

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=@apiKey&callback=initMap">
</script>